<?xml version="1.0"?>

<!--
POINTCLOUD DOWNSAMPLER LAUNCH FILE FOR UNIPI VISION SETUP (KINECT ONE USING IAI_KINECT2)
N:B: kinect2_bridge launch file is already launched here!
-->

<launch>

	<!-- Default qhd Res: 960 by 540  -->
	<param name="x_res" value="480"/>
	<param name="y_res" value="270"/>

	<!-- Launching Kinect2Bridge with publish_tf true -->
	<!-- <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
		<arg name="publish_tf" value="true"/>
	</include> -->

	<!-- RUNNING THE pc_downsampler node -->
	<node name="pc_downsampler_node" pkg="point_cloud_utilities"
		type="point_cloud_utilities_downsampler" respawn="true"
		args="input_topic:=/kinect2/qhd/points output_topic:=/kinect2/qhd/downsampled_points"
		output="screen">
	</node>

</launch>
